.header{
     color:black;
     /* border:2px solid blue; */
     background-color:blueviolet;
     padding:20px;
     font-weight:"bold"
     
}
.hr{height:1px;background-color:green}
.balance{background-color:blueviolet;color:yellowgreen;border:2px solid blue;}


.ib{
border:2px solid blue;
     display:flex;
     justify-content: space-around;
     background-color:blueviolet;
     
     padding:25px;
     ;
     
   
}

.income, .balances{
 
 margin:13px;
font-size:30px;
padding:10px;
background-color: white;
color:blue
 
}

.balance{
    
     margin:13px;
 
     font-size:30px;
     padding:10px;
   
     color:yellowgreen;
     padding:20px

    }

    #history{background-color: blue;padding:25px;color:yellowgreen;margin:3px}

    
    .history{
         display: flex;
         justify-content: space-around;
         font-size:20px;
         color:yellowgreen;
         font-size: 29px;
         
         
         margin:10px;
         background-color: blue;
         border-radius:12px 20px 22px 32px
    }

    .D{
         text-align:left
    }

    .add_btn{
         background-color: blueviolet;
         padding:0px;
         text-align:center;
         margin:9px
    }

    #total{background-color: blueviolet;padding:25px;color:yellowgreen}